<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Scrabble Score</title>
    </head>
    <body>
        <h1>Scrabble Score</h1>
        <h3>Your score is:</h3>
        <h3>{{ new_array }}</h3>
    </body>
</html>
